@font-face {
	font-family: 'Catatan Perjalanan';
	src: url('./fonts/CatatanPerjalanan.eot');
	src: url('./fonts/CatatanPerjalanan.eot?#iefix') format('embedded-opentype'),
		url('./fonts/CatatanPerjalanan.woff2') format('woff2'),
		url('./fonts/CatatanPerjalanan.woff') format('woff'),
		url('./fonts/CatatanPerjalanan.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body{
	background:#fff4e0;
	display: flex;
}

.tripple {
	display: flex;
	align-self: flex-start;  
	background:white;
}
.column{
  border: 15px solid white ;
}
img {
	min-height: 500px;
	min-width: 500px;
	max-height: 500px;
	max-width: 500px;
}
.stone_link {
	font-family: 'Catatan Perjalanan';
	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-o-transform:      rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	transform:         rotate(-90deg);
	font-size: 40px;
	padding-left:806px;
	margin-top: 120px;
	position: absolute
}
a:link, a:visited {
	color: black;
	text-decoration: none;
}
